torch==2.2.0  # Use a compatible version of torch
torchtext==0.16.2  # Ensure compatibility with the torch version
streamlit>=1.25.0
nltk>=3.8.1
pyarabic>=0.6.15
contractions>=0.1.73
tqdm>=4.65.0
scikit-learn>=1.2.2
matplotlib>=3.7.2
